# required
TELEGRAM_BOT_TOKEN=
ALLOWED_USER_IDS=
ALLOWED_CHAT_IDS=

# default cwd
DAEMON_CWD=
# default codex
AGENT=

# TODO:
# rename to
# ACPELLA_TELEGRAM_BOT_TOKEN
# ACPELLA_TELEGRAM_ALLOWED_USER_IDS
# ACPELLA_TELEGRAM_ALLOWED_CHAT_IDS
# ACPELLA_CWD
# ACPELLA_AGENT
